<br><div class="container">
    <div class="row">
        <div class="col-md-2">
            <mat-label class="labels">Academic Year</mat-label>
            <mat-select [(ngModel)]="selectedyear">
                <mat-option *ngFor="let year of academicYear" [value]="year">{{year}}</mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-label class="labels">Semesters</mat-label>
            <mat-select name="term" multiple [(ngModel)]="term">
                <mat-option *ngFor="let y of terms" [value]="term">
                    Semester - {{y}}
                </mat-option>
            </mat-select>

        </div>
        <div class="col-md-2" *ngIf="userRoles.includes('PRINICPAL')">
            <mat-form-field>
                <mat-label class="labels">
                    Select Department
                </mat-label>
                <mat-select name="years" [(ngModel)]="selectDepartment">
                    <mat-option *ngFor="let y of depts" [value]="y">
                        {{y}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-1">
            <button class="btn btn-primary search search-btn" (click)="onsubmit();" [disabled]=clicked>
                <i class="fa fa-search ml-0"></i> Search
            </button>
       </div>
        <div class="col-md-6">

        </div>
        <!-- <div class="col-md-1">
            <button class="back-button" (click)="back_()" *ngIf="chart_visibility" style="float: right; margin: 10px;">
                <span class="fa fa-chevron-left"></span> Back</button>
        </div> -->
    </div>

   

<div class="row container" *ngIf="offers && offers.length>0">
    <hr>
    <label>Placement Details</label>

</div>
<div class="row" *ngIf="offers && offers.length>0">

    <div class="col-md-3" *ngFor="let o of offers">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Company:{{o[0]}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Role: Software Engineer<br>
                Salary: {{o[1]}}
            </mat-card-content>
        </mat-card>

    </div>
</div><br>

<div class="row container" *ngIf="scores && scores.length>0">
    <hr>
    <label>Marks Details</label>

</div>
<div class="row mt-6" *ngIf="scores && scores.length>0">

    <div class="col-md-3" *ngFor="let s of scores">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Marks scored in {{s[0]}} is:</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{s[1]}}%
            </mat-card-content>
        </mat-card>

    </div>
</div>