hr {
    border-color: #551212;
};
.mat-card{
    background-color: aquamarine;
}
.vl {
    border-left: 6px solid black;
    height: 500px;
  }
  .sc{
      margin-top: 30px;
      max-height: 600px;      
      overflow-x: hidden;
      overflow-y: scroll;
      scroll-behavior: smooth;
  }